#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.page-fade-enter {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.page-fade-enter-active {
  opacity: 1;
}

.page-fade-exit {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.page-fade-exit-active {
  opacity: 0;
}

/* App.css */
.loading-fade-enter {
  opacity: 0;
}
.loading-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.loading-fade-exit {
  opacity: 1;
}
.loading-fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
