.container-default {
    @apply relative p-6 mb-0 rounded-lg shadow-md text-left border-2 transition-all
    bg-white border-gray-200 hover:border-blue-300
    dark:bg-gray-900 dark:border-gray-800 hover:dark:border-gray-700;

}

.container-selected {
    @apply dark:border-green-800 dark:hover:border-green-600 border-green-500 hover:border-green-300;
}

.container-unselected {
    @apply border-gray-200 dark:border-gray-800 hover:border-blue-300 hover:dark:border-gray-700;
}
.toggle-selected {
    @apply bg-blue-500 whitespace-nowrap dark:bg-gray-800 dark:border-gray-700 text-white border rounded-full px-3 transition-all duration-300 transform lg:hover:scale-105 hover:shadow-md text-xs;
}

.toggle-deselected {
    @apply bg-gray-200 whitespace-nowrap dark:bg-gray-900 text-gray-600 dark:text-gray-300 border dark:border-gray-700 rounded-full px-3 transition-all duration-300 text-xs transform lg:hover:scale-105 hover:shadow-md;
}

.selection-toggle-selected {
    @apply flex items-center gap-2 px-2 py-1 text-sm rounded transition-colors duration-300;
}

.selection-toggle-deselected {
    @apply flex items-center gap-2 px-2 py-1 text-sm rounded transition-colors duration-300;
}
.input-field {
    @apply flex-1 min-w-[200px] w-full border rounded px-3 py-2 dark:border-gray-600 dark:bg-gray-800 text-black dark:text-gray-300 text-sm;
}

.transparent-input-field {
    @apply w-full px-2 py-1 border-b bg-transparent outline-none focus:outline-none resize-none overflow-hidden border-gray-600 focus:border-blue-500 text-black dark:text-white;
}
/* Estilos para la toolbar y el editor en modo claro */
.custom-quill-editor .ql-toolbar {
    @apply bg-gray-200 text-black border-none rounded-t-md;
}

.custom-quill-editor .ql-container {
    @apply text-gray-800 border-gray-200 rounded-b-md;
}

.custom-quill-editor .ql-editor {
    @apply bg-white text-gray-800 p-4 min-h-[200px] border-none focus:outline-none;
}

/* Estilos de párrafos, strong y links en el editor */
.custom-quill-editor .ql-editor p {
    @apply mb-2 border-none;
}

.custom-quill-editor .ql-editor strong {
    @apply font-bold;
}

.custom-quill-editor .ql-editor a {
    @apply text-blue-500 underline;
}

/* Cambiar color de los íconos de la toolbar en modo claro */
.custom-quill-editor .ql-toolbar .ql-stroke {
    stroke: black;
}

.custom-quill-editor .ql-toolbar .ql-fill {
    fill: black;
}

.custom-quill-editor .ql-toolbar .ql-picker {
    @apply text-black;
}

.custom-quill-editor .ql-toolbar .ql-picker-options {
    @apply bg-white text-gray-800;
}

.custom-quill-editor .ql-toolbar .ql-picker-label {
    @apply text-gray-800;
}

.custom-quill-editor .ql-toolbar button:hover,
.custom-quill-editor .ql-toolbar button:focus {
    @apply text-blue-500;
}

.dark .custom-quill-editor .ql-toolbar {
    @apply bg-gray-800 text-white border-none rounded-t-md;
}

.dark .custom-quill-editor .ql-container {
    @apply text-white border-gray-800 rounded-b-md;
}

.dark .custom-quill-editor .ql-editor {
    @apply bg-gray-900 text-white p-4 min-h-[200px] border-none focus:outline-none;
}

/* Cambiar color de los íconos de la toolbar en modo oscuro */
.dark .custom-quill-editor .ql-toolbar .ql-stroke {
    stroke: white;
}

.dark .custom-quill-editor .ql-toolbar .ql-fill {
    fill: white;
}

.dark .custom-quill-editor .ql-toolbar .ql-picker {
    @apply text-white;
}

.dark .custom-quill-editor .ql-toolbar .ql-picker-options {
    @apply bg-gray-800 text-white;
}

.dark .custom-quill-editor .ql-toolbar .ql-picker-label {
    @apply text-white;
}

/* Hover effect en botones de la toolbar en modo oscuro */
.dark .custom-quill-editor .ql-toolbar button:hover,
.dark .custom-quill-editor .ql-toolbar button:focus {
    @apply text-blue-400;
}


/* Schedule */

/* Día normal */
.normalDay {
    @apply bg-transparent text-black dark:text-white;
}

/* Día con evento */
.eventDay {
    @apply bg-blue-500 text-white dark:bg-blue-700;
}

/* Día de hoy */
.today {
    @apply bg-green-500 text-white dark:bg-green-700;
}

/* Día con evento y es hoy */
.eventToday {
    @apply bg-green-400 text-white dark:bg-green-800;
}

/* Día pasado */
.pastDay {
    @apply text-gray-400 dark:text-gray-500;
}

/* Día fuera de rango */
.outOfRangeDay {
    @apply text-gray-300 dark:text-gray-600 pointer-events-none;
}

/* Día de fin de semana */
.weekendDay {
    @apply bg-gray-100 text-black dark:bg-gray-900 dark:text-white;
}

.guest-message {
    @apply flex items-start gap-1 dark:bg-gray-800 dark:text-gray-300 bg-gray-100 text-gray-500 px-3 py-2 rounded-lg;
}
.guest-message-header {
    @apply flex gap-2 items-center;
}
.guest-message-name {
    @apply font-bold text-sm;
}
.guest-message-timestamp {
    @apply text-xs text-gray-400 mt-1;
}

.user-message {
    @apply flex items-start gap-1 flex-row-reverse dark:bg-blue-700 dark:bg-opacity-40 text-right bg-blue-500 px-3 py-2 rounded-lg;
}
.user-message-header {
    @apply flex gap-2 items-center flex-row-reverse;
}
.user-message-name {
    @apply font-bold text-sm;
}
.user-message-timestamp {
    @apply text-xs text-white dark:text-gray-400 mt-1;
}